<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--  引入bootstrap的css样式  -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <!--  引入bootstrap的js  -->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">社区论坛</span>
                </button>
                <a class="navbar-brand" href="/">社区论坛</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索话题...">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">发布</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">退出登陆</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=Iv1.3760c38d053dce75&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登陆</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!--   发布     -->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发布</h2>
                <hr>

                <form action="/publish" method="post">
                    <div class="form-group">
                        <label for="title">发布标题:</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="发布标题...">
                    </div>
                    <div class="form-group">
                        <label for="description">发布内容:</label>
                        <textarea class="form-control" name="description" id="description" th:text="${description}" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签:</label>
                        <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，多个标签以','分隔">
                    </div>
                    <div class="container-fluid main" th:if="${error != null}">
                        <div class="row">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"></div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <input class="btn btn-success btn-publish" type="submit" value="点我发布">
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-success btn-publish" type="submit" value="点我发布" th:if="${error == null}">
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>论坛发布说明：</h3>
                <span class="glyphicon glyphicon-star">我是第一行说明内容   你来改我呀！</span><br>
                <span class="glyphicon glyphicon-star">我是第二行说明内容   你来改我呀！</span><br>
                <span class="glyphicon glyphicon-star">我是第三行说明内容   你来改我呀！</span><br>
                <span class="glyphicon glyphicon-star">请遵守以上规则</span>
            </div>
        </div>
    </div>
</body>
</html>